/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background:  #f7f7f7;
    justify-content: center ;
    align-items: center ;
    align-content: center;
    
    

}
h1{
    width: 50%;
}
main{
    width: 60%;
    margin: 10rem auto;

}
.info_box{
    width: 700px;
    border: 15px solid rgba(231, 238, 241, 0.957);
    border-radius: 1rem ;
    padding: 30px;
    margin: 0 auto;
    justify-content: center;
    box-shadow: 5px 10px #f9feff;

    /* align-items: center; */
    
}
.info-title{

    height: 30px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    font-weight: 600;
    align-content: center;
    width: 60%;
    margin: 1rem auto;
}
.info{
    margin: 0.5rem;
}
.info_box .info-list {
    margin: 5px 0;
    font-size: 17px;
}

.info_box .info-list  {
    font-weight: 600;
    padding-left: 10px;
}

.btn_input{
    margin: 1rem auto;
    width: 70%;
    display: flex;
}
/* .btn_input label{
    margin-left: 1rem;
} */
#name { 
    width: 30rem;
    margin-left: 1rem;
    border: none;
    border-radius: 1rem;
    



}

#start{
    width: 7rem;
    margin-left: 1rem;
    border: none;
    border-radius: 1rem;
    width: 12rem;
    height: 2rem;
    color: #fff;
    background-color: #357a32;
}
#start:hover{
    background-color: #276325;
    transition: 0.3s;
    cursor: pointer;
}
form{
    display: flex;
    margin-left: 0;
    width: 100%;
}